body {
    margin: 0;
    padding: 0;
    background-color: #121E28; /* fondo ejemplo */
    font-family: Arial, sans-serif;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    color: white;
  }
  
  .separacion a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
    
    
  }
  

  .columna1 h2{
    font-size: 2.5rem;
  }
  .columna1 {
    width: 50%;
    display: flex;
    align-items: left;
    flex-direction: column ;

  }

  .columna1 h1{
    font-size: 2.8  rem;
  }
  .columna1 h1,
.columna1 h2 {
  margin: 5px 0;   /* ajusta el espacio vertical */
  line-height: 1.5; /* compacta un poco el alto de línea */
}

  
  .linea {

    
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    padding-left: 20px; /* espacio entre la línea y el texto */
  }
  
  .linea::before {
    content: "";
    position: absolute;
    left: 20;
    top: 75%;
    transform: translateY(-50%);
    width: 60px;               /* largo de la línea */
    height: 3px;               /* grosor */
    background-color: #FF715A; /* color de la línea */
    margin-left: -70px;        /* distancia de la línea al texto */
  }
  
  .barra {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #1e293b;
    color: white;
  }
  .botones 
{
    display: flex;
    gap: 2em;
    margin-top: 2em;
    justify-content: left;
    
}

.botones a 
{
    
    color: white;
    text-decoration: none;
    background-color: #121E28;
    border: 1.5px solid #FF715A;
    padding: 0.9em 1.5em;
    white-space: nowrap;
    transition: all 300ms;

}

.botones a:hover{
    background-color: #FF715A;
    transition:  300ms;
}

.columna2
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
  
.columna2 img{
    height: 35em;
    width: 35em;
}

/* TERMINA HOJA 1 */

/* EMPIEZA HOJA 2 */

.columna3 
{
  background-color: #FF715A;
  width: 50%;
  color: white;
  display: flex;
}

.row
{
  display: flex;
  flex-direction: column;
  
}